
body	{
	font-family: 'Roborto', sans-serif;
	width: 80%;
	background-color: #FFF9C4;
	max-width:700px;
    margin: auto;
    border: 1px solid #000;
    padding-left: 10px;
    padding-right: 10px;
}
 img {
     max-width: 80%;
     height: auto; 
} 

h1 {color: black; 
	text-align: center;
	font-family: 'courgette', cursive;
}

h2, h3 	{
	color: black; 
	text-align: center;
	font-family: 'roborto', sans-serif;
}
p{
	color: black;	
}
a:link	{
	color: #00cccc;
}	
a:visited {
	color: #0099ff;
}
a:hover {
	color: #ff66ff;
}	
a:active {
	color: #ff6600;
}
nav ul {
	text-align: center; 
	margin: 10px;
	border-color: black;
	background-color: #f4bbbb;
    padding: 0;
}

nav li {
	color: #00ced1;
	display: inline-block;
	text-align: center;
	font-size: 1.2em;
	line-height: 40px;
/*	border-bottom: solid 1px #000;
	border-top: solid 1px #000;*/
	border-right: solid 2px #000;
}

nav a {
	text-decoration: none;
	color: #00ced1;
	display: block;
	padding-right: 10px;
}
nav a:hover {
	background-color: #005f5f;
}
nav a.active {
	background-color: #008b8b;
	color: #444
}
.test{
	border-left: 2px solid #000;
}
footer	{
	font-size: small;
	text-align: center; 
	margin: 20px;
	border: top, bottom: 5px;
	padding: 20px;
	border-color: black;
	background-color: #c8e8c5;
    padding: 0;

} 
/*@media screen and (max-width: 699px) and (min-width: 520px) {
    ul li a {
        padding-left: 50px;
    }
}*/

@media screen and (max-width: 420px){
    nav a {
       font-size: .5em;
    }
    body{
    	font-size: .8em;
    }
}
