<head>
	<link rel="stylesheet" type"text/css" href="mystyle.css">
	</head>


body	{
	font-family: Ariel, Verdana, sans-serif:}
h1, h3 	{
	color: black;}
p		{	
	color: black;}
link	{
	color: #00cccc;}	

	
