@font-face {
    font-family: lemonade;
    src: url('font/lemonade.otf');
}

body{
	background: #0099ff;
}

.comment-container {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
  padding: 10px;
  margin: 2%;
}

.comment-container h2 {
  margin-bottom: 20px;
}

.container, footer{
	background: #fff;
}

div.row.home-carousel-caption {
  margin-top: 50px;
}

form{
  margin-top: 2%;
  padding-top: 1%;
}

footer {
  height: 40px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
  padding-top: .5%;
}

.col-md-3 img{
	width: 100%;
	border: 2px solid #000;
}

.col-md-1 {
	width: 100%;
	border: 2px solid #000;
}

button.btn-outline-success {
  border-color: #ffc107;
  color: #ffc107;
}

button.btn-outline-success:hover {
  background-color: #ffc107;
  border-color: #ffc107;
}

@media only screen and (max-width: 576px) {
  .container {
    height: 100%;
  }
}

/*font-family: 'Open+Sans', sans-serif;
font-family: 'Roboto', sans-serif;

.css-selector {
  font-family: 'Open+Sans', sans-serif;
  font-family: 'roboto', sans-serif;
}*/

body {
  font-family: 'Open+Sans', sans-serif;
  /*text-shadow: 4px 4px 4px #aaa;*/
}

h1, h2, h3, h4, h5, h6 {
	  font-family: 'lemonade', sans-serif;
}
